<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO + EJS Example</title>
    <link rel="stylesheet" href="/style/gene_style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Добро пожаловать в чат!</h1>
    <p>Это пример приложения с Socket.IO и EJS</p>
    <a href="/User"><div>Открыть</div></a>
    <!--------------------------------------------------------------------->
    <div ><font class="can">Can</font> и <font class="red">Red</font></div>
    <div id="label" class="red">Нельзя кликать.</div>
    <!--------------------------------------------------------------------->
    <div id="status" > Ваш статус: <font class="red" id="stat">Не подключен</font></div>
    <div id="status2" > Чужой статус: <font class="red" id="stat2">Не подключен</font></div>
    <!--------------------------------------------------------------------->
    <!--Поля ввода.-->
    <input type="text" value="Nick" id="Name"><input type="text" value="700001" id="id_user">
    <!--------------------------------------------------------------------->
    <!--Кнопки.-->
    <div id="Ck" class="btn">Подключиться</div>
    <div id="Reconect" class="btn">Повторно соедениться</div>
    <div id="clicking" class="btn">Кликать.</div>
    <!----------Скрипты---------->
    <script src="/javascript/test.js"></script>
</body>
</html>