<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/stile_game.css"/>
  </head>
  <body>
    <div id="#wrapperBlock">
        <%= bord %>
    </div>
    
  </body>
</html>