#Log_out_cr{
  
  position: absolute;
  top:  10%;
  right: 1%;
  transform: translate(-50%,-50%);

}
a{
  text-decoration: none;
}
a:link, a:visited { 
  color: rgb(0, 0, 0); 
}
body {
  background-image: url('/img/bg.png');
  background-size: cover;  /* Растягивает изображение, сохраняя пропорции */
  background-position: center;  /* Центрирует изображение */
  background-repeat: no-repeat;  /* Отключает повторение */
  background-attachment: fixed;  /* Фиксирует фон (опционально) */
}