<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" href="/style/stile_web.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="block_profil">
        <% if(session.USER) {%>
            <div id="profil" class="block_log_reg">
                <center><div><h2>Профиль</h2></div></center>
                <div class="statys_prof">Ваш ник: <%- session.USER.Nick %></div>
                <div class="statys_prof">Победы: <%- session.USER.Win %></div>
                <div class="statys_prof">Поражений: <%-session.USER.Loss %></div>
                <div class="statys_prof">
                    <form action="/go_out" method="post">
                        <button type="submit" class="But_out">Выйти</button>
                    </form>
                </div>
            </div>
        <%}else{%>
            <div id="Reg_log">
                <center>
                    <a href="/Register"><div class="Reg_log"><p>Зарегестрироваться</p></div></a>
                    <a href="/Login"><div class="Reg_log"><p>Вход</p></div></a>
                </center>
                
            </div>
        <%}%>
    </div>
    
    <div id="web">
        <div class="block">
            <center>
                <div class="button" id="Game"><p>Начать игру</p></div>
                <div class="button" id="Settings"><p>Настройки</p></div>
                <div class="button" id="Description"><p>О игре</p></div>
            </center>
        </div>
        <div class="block_wind" id="block_game"><!--Блок "Игры"-->
            <div class="crests" id="crest1"></div>
            <div class="block_bt">
                <center>
                    <a href="/Solo_game"><div class="button_game" id="solo_game"><p>Игра с ботом</p></div></a>
                    <a href="/Duo_game"><div class="button_game" id="duo_game"><p>Игра на двоих</p></div></a>
                    <% if(session.USER) {%>
                        <a href="/Net_game"><div class="button_game" id="network_game"><p>Игра по сети</p></div></a>
                    <% }else {%>
                        <div class="button_game" id="not_work" onclick="Not_work()"><p>Игра по сети</p></div>
                    <%}%>
                    
                </center>
            </div>
        </div>
        <div class="block_wind" id="block_settings"><!--Блок "Настройки"-->
            <div class="crests" id="crest2"></div>
            <div></div>
        </div>
        <div class="block_wind" id="block_description"><!--Блок "О игре"-->
            <div class="crests" id="crest3"></div>
            <div></div>
        </div>
    </div>

    <div id="n_w">
        <p id="tt">Пожалуйста зайдите в свой аккаунт</p>
    </div>

    <!---------------------------Скрипт--------------------------------->
    <script src="/javascript/script_web.js"></script>
</body>
</html>