<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" href="/style/stile_web.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div>
        
        <form action="/Login" method="post" id="Forma">
            <div>
                <div id="frm2">
                    <div class="lb">Логин</div>
                    <input type="text" name="login" class="frm">
                </div>
                <div id="frm2">
                    <div class="lb">Пароль</div>
                    <input type="text" name="password" class="frm">
                </div>
                <div>
                    <button type="submit" class="But_log">Войти</button>
                </div>
            </div>
            
        </form>
        
        
        
    </div>

</body>
</html>