<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO + EJS Example</title>
    <link rel="stylesheet" href="/style/gene_style.css">
    <link rel="stylesheet" href="/style/stile_game.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="big_box">
        <div id="Label_i">
            <div id="User1">User1</div>
            <div id="User2">User2</div>
        </div>
        <div id="box">
            <div id="block1">
                <div id="wrapperBlock" class="Field">
                    <%for(let i=0;i<10;i++){%>
                        <% for(let j=0;j<10;j++){%>
                            <div id="<%=i%>:<%=j%>:0" class="square"></div>
                        <%}%>
                    <%}%>
                </div><!--Поле1-->
            </div>
            <div id="block2">
                <div id="wrapperBlock2" class="Field">
                    <%for(let i=0;i<10;i++){%>
                        <% for(let j=0;j<10;j++){%>
                            <div id="<%=i%>:<%=j%>:1" class="square2"></div>
                        <%}%>
                    <%}%>
                </div><!--Поле2-->
            </div>
        </div>        
    </div>
    <!---------------------------------------------------------------------->
    <div id="black">
        <div id="Block_button" class="block_g">
            <div>
                <center>
                    <div><h2 id="User">Меню</h2></div>
                </center>
                <center>
                    <div id="col_bt">
                        <div id="Fast_game" class="Clk">Быстрая игра</div>
                        <div id="Game_frend" class="Clk">С другом.</div>
                        <div id="See" class="Clk">Смотреть</div>
                    </div>
                </center>
            </div> 
        </div>
        <div id="expec">
            <center>
                <div id="bl_time">
                    <div id="time">0:00</div>
                    <div id="cancel" class="Clk">Отмена</div>
                </div>
                
            </center>
        </div>
        <div id="expec_game" class="blockk">
            Ожидаем игрока
        </div>
    </div>

    <div id="Block_button_net"> <!--Поле где находятся корабли.-->
        <div class="block_box">
            <center>
                <div id="Random" class="Clk">Рандом</div>
                <div id="Position" class="Clk">Вручную</div>
                <div id="Play" class="Clk">Готов</div>
            </center>
        </div>
    </div>

    <!----------Скрипты---------->
    <script src="/javascript/test.js"></script>
</body>
</html>