<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO + EJS Example</title>
    <link rel="stylesheet" href="/style/gene_style.css">
    <link rel="stylesheet" href="/style/stile_game.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="big_box">
        <div id="Label_i">
            <div id="User1">User1</div>
            <div id="User2">User2</div>
        </div>
        <div id="Move">Move</div>
        <div id="box">
            <div id="block1">
                <div id="wrapperBlock" class="Field">
                    <%for(let i=0;i<10;i++){%>
                        <% for(let j=0;j<10;j++){%>
                            <div id="<%=i%>:<%=j%>:0" class="square"></div>
                        <%}%>
                    <%}%>
                </div><!--Поле1-->
            </div>
            <div id="block2">
                <div id="wrapperBlock2" class="Field">
                    <%for(let i=0;i<10;i++){%>
                        <% for(let j=0;j<10;j++){%>
                            <div id="<%=i%>:<%=j%>:1" class="square2"></div>
                        <%}%>
                    <%}%>
                </div><!--Поле2-->
            </div>
        </div>
        <div id="Block_button_net"> <!--Поле где находятся корабли.-->
            <div class="block_box">
                <div id="Inf">ПКМ - сменить положение корабля.</div>
                <center>
                    <div id="Random" class="Clk">Рандом</div>
                    <div id="Position" class="Clk">Вручную</div>
                    <div id="Play" class="Clk">Готов</div>
                </center>
            </div>
        </div>       
    </div>
    <!---------------------------------------------------------------------->
    <div id="ROOM">Комната</div>
    <div id="err"></div>
    <div id="black">
        <div id="Block_button" class="block_g">
            <div>
                <center>
                    <div><h2 id="User">Меню</h2></div>
                </center>
                <center>
                    <div id="col_bt">
                        <div id="Fast_game" class="Clk">Быстрая игра</div>
                        <div id="Game_frend" class="Clk">С другом.</div>
                        <a href="/"><div class="Clk">Выйти</div></a>
                    </div>
                </center>
            </div> 
        </div>
        <div id="expec">
            <center>
                <div id="bl_time">
                    <div id="time">0:00</div>
                    <div id="cancel" class="Clk">Отмена</div>
                </div>
                
            </center>
        </div>
        <div id="expec_game" class="blockk">
            <center>
                <div class="lb_e">Ожидаем игрока</div>
            </center>
        </div>

        <div id="Crear_Con_Prem">
            <center>
                <div><h2 id="text">Персональные комнаты</h2></div>
                <div id="text2"></div>
                <div id="cl_01">
                    <div id="bt_c_c_l">
                        <div id="Creat_room" class="Clk">Создать комнату</div>
                        <div id="Conect_room" class="Clk">Присоедениться</div>
                        <div id="Log_out3" class="Clk">Выйти</div>
                    </div>
                    <div id="Conect_block">
                        <div class="lb">Введите ID-комнаты.</div>
                        <input type="text" id="inp_ID" class="frm" placeholder="0123456789">
                        <div id="Log_rooming" class="Clk">Войти</div>
                    </div>
                    <div id="cancel2" class="Clk">Отмана</div>
                </div>
                
            </center>
        </div>

        <div id="cancell" class="blockk2">
            <center>
                <div id="lb_1">Игра была отменина</div>противник вышел игры
            </center>
            <center>
                <div><p>Причина:противник вышел игры</p></div>
            </center>
            <center>
                <div id="col_4">
                    <div id="New_game2" class="Clk">Новая игра</div>
                    <div id="Log_out2" class="Clk">В лобби</div>
                </div>
            </center>
        </div>
        <div id="end">
            <center>
                <div id="WIN">
                    Победил
                </div>
            
                <div id="USER">Кто-то</div>
            
                <div id="col_2">
                    <div id="Revenge" class="Clk">Реванш</div>
                    <div id="New_game" class="Clk">Новая игра</div>
                    <div id="Log_out" class="Clk">В лобби</div>
                </div>
                <div id="col__4">
                    <div id="Revenge4" class="Clk">Реванш</div>
                    <div id="Log_out4" class="Clk">В лобби</div>
                </div>
            </center>
        </div>

        <div id="exp_end">
            <center><div>Вы точно хотите выйти?</div></center>
            <div id="col_3">
                <center>
                    <div id="Yes" class="Clk">Да</div>
                    <div id="No" class="Clk">Нет</div>
                </center>
            </div>
        </div>
    </div>
    <div id="mine_Menu">
        <div id="m_m1" class="Clk">Меню</div>
        <div id="give_up" class="Clk">Сдаться</div>
    </div>
    <!----------Скрипты---------->
    <script src="/javascript/test.js"></script>
</body>
</html>