<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" href="/style/stile_web.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div>
        <form action="/Register" method="post" id="Forma">
            <div id="frm2">
                <div class="lb">Ник</div>
                <input type="text" name="nick" class="frm">
            </div>
            
            <div id="frm2">
                <div class="lb">Логин</div>
                <input type="text" name="login" class="frm" placeholder="От 4 синволов">
            </div>
            
            <div id="frm2">
                <div class="lb">Пароль</div>
                <input type="text" name="password" class="frm"
                placeholder="От 4 до 8 синволов">
            </div>
            
            <button type="submit" class="But_log">Войти</button>
        </form>
        <div id="info">Когда регистрация произошла верно, вы автоматически вернётесь на главную страницу.</div>
        <% if(typeof error !== 'undefined') {%>
            <div id="er"><%= error %></div>
        <% } %>
    </div>
</body>
</html>