<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Морской бой</title>
    <link rel="stylesheet" href="/style/stile_game.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <a href="/"><div id="Log_out_cr" class="Clk">Вернуться назад.</div></a>
    <div id="big_box">
        <center><div><h2 id="move_label"></h2></div></center>
        <div id="box">
            <div id="block1">
                <div id="wrapperBlock" class="Field"></div><!--Поле1-->
            </div>
            <div id="block2">
                <div id="wrapperBlock2" class="Field"></div><!--Поле2-->
            </div>
            
        </div>
        <div id="Block_button" class="block_btn">
            <center>
                <div><h2 id="User">Игрок</h2></div>
            </center>
            <div class="block_box">
                <div id="Inf">ПКМ - сменить положение корабля.</div>
                <center>
                    <div id="Random" class="Clk">Рандом</div>
                    <div id="Position" class="Clk">Вручную</div>
                    <div id="Play" class="Clk">Играть</div>
                </center>
            </div>
        </div>
        <div id="Block_Win_Lozz" class="block_wind2"><!--Победа/поржание-->
            <div id="box_bt">
                <center>
                    <div><h2 id="Win_Lozz"></h2></div>
                </center>
                <div id="box">
                    <center>
                        <a href="/"><div id="Log_out" class="Clk">Выйти</div></a>
                        <div id="Again" class="Clk">Заново</div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascript/script_solo_game.js"></script>
</body>
</html>